<form [formGroup]="employee" validate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Add Employee</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Employee Number" type ="number" formControlName="employeeNumber">
            <mat-error *ngIf="employee.controls['employeeNumber'].hasError('required')">
              Employee Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="First name" formControlName="firstName">
            <mat-error *ngIf="employee.controls['firstName'].hasError('required')">
              First name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Last name" formControlName="lastName">
            <mat-error *ngIf="employee.controls['lastName'].hasError('required')">
              Last name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="office" formControlName="officeCode">
              <mat-option *ngFor="let offcode of oc" [value]="offcode.officeCode">
                {{ offcode.officeName }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="employee.controls['officeCode'].hasError('required')">
              office is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="employee.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Job" formControlName="job">
            <mat-error *ngIf="employee.controls['job'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
    
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>